<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Simulator</title>
    <link rel="stylesheet" href="./src/css/message/all.message.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./src/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="center">
    <div class="iphone-frame">
        <div class="form-message">
            <div class="norch">
                <div class="rounded">
    
                </div>
            </div>
            <div class="nav">
                <div class="left">
                    <span>09:08</span>
                </div>
                <div class="right">
                    <ion-icon name="cellular"></ion-icon>
                    <ion-icon name="wifi"></ion-icon>
                    <ion-icon name="battery-half"></ion-icon>
                </div>
            </div>
            <div class="nav-mess">
                <span class="fix">Sửa</span>
                <span class="title">Tin nhắn</span>
                <i class='bx bxs-edit' ></i>
            </div>
        </div>
        <div class="container">
            <div class="show-all-message">
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                <div class="item-message">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <div class="detail-message">
                        <div class="info-message">
                            <span class="title-message">VIETTELPLUS</span>
                            <span class="time-message">Hôm qua 
                                <i class='bx bx-chevron-right'></i>
                            </span>
                        </div>
                        <p class="description-message">Quy khach duoc cong them 872 diem Viettel++ boi giao dich Tieu dung vien thong voi dich vu cua ViettelPlus++</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="button"></div>    
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>