.list-call {
    position: relative;
    background: #000;
    width: 100%;
    height: 650px;
    color: #fff;
    font-size: 10px;
    overflow: hidden;
}
.heading-list-call {
    padding-top: 48px;
    display: flex;
    justify-content: flex-start;
}
.list-call .heading-list-call span {
    font-size: 14px;
    margin: 0 12px;
    text-align: start;
    color: #046fd9;
    font-weight: 300;
    cursor: pointer;
}
.menu-list-call {
    display: flex;
    justify-content: space-between;
    padding: 2px 2px;
    background-color: #333;
    font-size: 10px;
    border-radius: 6px;
    margin-left: 60px;
}
.missed-call {
    margin-left: 8px;
    padding: 2px 8px 0px  2px ;
    border-radius: 5px;
    cursor: pointer;
}
.all-call {
    padding: 3px 7px;
    background: #5b5a60;
    border-radius: 5px;
    cursor: pointer;
}
.list-call h1 {
    margin: 12px 0 12px 24px;
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
}
.list-all-call {
    font-size: 13px;
}
.list-all-call .detail-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
}
.detail-call i {
    padding-right: 12px;
    transform: translateY(15%);
    margin: 0;
    font-size: 8px;
    color: #5b5a60;
}
.show-number-call {
    cursor: pointer;
    width: 270px;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    margin: 0;
    border-bottom: .005rem solid #5b5a60;

}
.info-phone-number .country , .detail .time {
    color: #5b5a60;
    font-size: 12px;
    font-weight: 300;
}
.info-phone-number .number {
  
}
.phone-number span {
    display: block;
    text-align: left;
}
.number.active {
    color: #c8362a;
    font-size: 13px;
}

.detail ion-icon {
    cursor: pointer;
    font-size: 18px;
    transform: translateY(30%);
    color: #046fd9;
}
.info-phone-number {
    flex-basis: 100%;
}
.info-phone-number span {
    display: block;
}
.footer-list-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121619;
    padding: 8px 8px 24px 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 9px;
}
.footer-item-call ion-icon {
    text-align: center;
    width: 100%;
}
.footer-item-call ion-icon {
    display: block;
    font-size: 20px;
    cursor: pointer;
}
.footer-item-call.active {
    color: #046fd9;
}
.detail-call {
    position: relative;
}
.detail-call::after {
    position: absolute;
    content: "";
    width: 90%;
    height: .05rem;
    bottom: 0px;
    right: 0;
    background-color: #fff;
}
.detail {
    display: flex;
    align-items: center;
}
.detail  ion-icon {
    transform: translateY(7%);
}
