      <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Mobile Simulator</title>
            <link rel="stylesheet" href="/mobile-simulator/src/css/style.css">
            <link rel="stylesheet" href="/mobile-simulator/src/css/wheather/wheather.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        </head>
        <body class="center">
            <div class="iphone-frame">
                <div class="norch">
                    <div class="rounded">
        
                    </div>
                </div>
                <div class="nav">
                    <div class="left">
                        <span>09:08</span>
                    </div>
                    <div class="right">
                        <ion-icon name="cellular"></ion-icon>
                        <ion-icon name="wifi"></ion-icon>
                        <ion-icon name="battery-half"></ion-icon>
                    </div>
                </div>
                <div class="container">
                    <div class="wheather">
                       <div class="nav-wheather">
                        <i class="fa-solid fa-o icon"></i>
                        <h1 class="title">Thời tiết</h1>
                        <div class="input">
                            <ion-icon name="search"></ion-icon>
                            <input type="text" placeholder="Tìm tên thành phố/sân bay">
                        </div>
                       </div>
                        <div class="show-list-wheather">
                            <div class="item-wheather">
                                <div class="info-wheather">
                                    <div class="location">
                                        <h1>Vị trí của tôi</h1>
                                        <span>Đà Nẵng</span>
                                    </div>
                                    <div class="deg">
                                        21&ordm;
                                    </div>
                                </div>
                                <div class="more">
                                    <span>Mưa</span>
                                    <span>T:19&ordm;C:22&ordm;</span>
                                </div>
                            </div>
                            <div class="item-wheather">
                                <div class="info-wheather">
                                    <div class="location">
                                        <h1>Vị trí của tôi</h1>
                                        <span>Đà Nẵng</span>
                                    </div>
                                    <div class="deg">
                                        21&ordm;
                                    </div>
                                </div>
                                <div class="more">
                                    <span>Mưa</span>
                                    <span>T:19&ordm;C:22&ordm;</span>
                                </div>
                            </div>
                            <div class="item-wheather">
                                <div class="info-wheather">
                                    <div class="location">
                                        <h1>Vị trí của tôi</h1>
                                        <span>Đà Nẵng</span>
                                    </div>
                                    <div class="deg">
                                        21&ordm;
                                    </div>
                                </div>
                                <div class="more">
                                    <span>Mưa</span>
                                    <span>T:19&ordm;C:22&ordm;</span>
                                </div>
                            </div>
                            <div class="item-wheather">
                                <div class="info-wheather">
                                    <div class="location">
                                        <h1>Vị trí của tôi</h1>
                                        <span>Đà Nẵng</span>
                                    </div>
                                    <div class="deg">
                                        21&ordm;
                                    </div>
                                </div>
                                <div class="more">
                                    <span>Mưa</span>
                                    <span>T:19&ordm;C:22&ordm;</span>
                                </div>
                            </div>
                            <div class="item-wheather">
                                <div class="info-wheather">
                                    <div class="location">
                                        <h1>Vị trí của tôi</h1>
                                        <span>Đà Nẵng</span>
                                    </div>
                                    <div class="deg">
                                        21&ordm;
                                    </div>
                                </div>
                                <div class="more">
                                    <span>Mưa</span>
                                    <span>T:19&ordm;C:22&ordm;</span>
                                </div>
                            </div>
                            <p>Tìm hiểu về <a href="#">dữ liệu thời tiết</a> và <a href="#">dữ liệu bản đồ</a></p>
                        </div>
                    </div>
                </div>
                <div class="button"></div>    
            </div>
            <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        </body>
        </html>