
.form-message {
    position: relative;
    background: rgb(68,68,71);
}
.nav-user {
    position: fixed;
    position: absolute;
    z-index: 10;
    top: 15%;
    right: 0;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    flex: 1;
    background: rgb(68,68,71);
    border-top-right-radius:30px ;
    border-top-left-radius:30px ;
    padding: 36px 16px 12px 12px;
}
.nav-user-icon {
    font-size: 22px;
    color: #0a84fe;
    cursor: pointer;
}
.user {
    flex-basis: 100%;
    text-align: center;
}
.user img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user span {
    cursor: pointer;
    display: block;
}
.show {
    overflow-y: scroll;
    max-height: 654px;
    border-radius: 29px;
}
.show::-webkit-scrollbar {
    width: 1px;
    display: none;
}
.show::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 30px;
}
.show::-webkit-scrollbar-track {
    background: rgb(68,68,71);
}
.show-message-form {
    background-color: #000;
    color: #fff;
    height: max-content;
    padding-bottom: 12px;
}
.show-message-form .date-time {
    width: 100%;
    text-align: center;
    padding: 12px  12px 6px 12px;
    color: #666;
}
.show-message-form span {
    font-size: 8px;
}
.show-message-form p {
    margin: 0 12px;
    padding: 8px;
    width: 250px;
    height: max-content;
    border-radius: 8px;
    background-color: #26252a;
}

.last-message-form {
    position: fixed;
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
    padding: 12px 8px 36px 8px;
    z-index: 20;
    display: flex;
    justify-content: flex-start;
    background-color: #000;
    width: 100%;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}
.last-message-form form {
    width: 100%;
    display: flex;
    height: 32px;
    outline: 1px solid #26252a;
    border-radius: 20px;
    border: none;
    font-size: 12px;
}
.last-message-form form > input {
    color: #fff;
    flex-basis: 100%;
    padding: 0 8px;
    height: 32px;
    outline: none;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    background: transparent;
}
.last-message-form ion-icon {
    cursor: pointer;
    color: #ccc;
    font-size: 22px;
    margin: 0 8px;
    padding: 3px 4.5px;
}
.last-message-form ion-icon:nth-child(1) {
    background-color: rgba(255,255,255,.6);
    border-radius: 50%;
}