<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Simulator</title>
    <link rel="stylesheet" href="../src/css/enter-pass/style.css">
    <link rel="stylesheet" href="../src/css/style.css">
</head>
<body>
    <div class="iphone-frame">
        <div class="norch">
            <div class="rounded">

            </div>
        </div>
        <div class="nav">
            <div class="left">
                <span>09:08</span>
            </div>
            <div class="right">
                <ion-icon name="cellular"></ion-icon>
                <ion-icon name="wifi"></ion-icon>
                <ion-icon name="battery-half"></ion-icon>
            </div>
        </div>
        <div class="container">
            
            <!-- BEGIN:  ENTER PASSWORD  -->
            
            <div class="enter-password">
                <div class="lock-icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </div>
                <div class="lock-enter-password">
                    <span>Nhập mật mã</span>
                </div>
                <div class="indicators-password">
                    <span class="active-screen-password span1"></span>
                    <span class="active-screen-password span2"></span>
                    <span class="active-screen-password span3"></span>
                    <span class="active-screen-password span4"></span>
                </div>
                    <div class="act-enter-password">
                        <div class="enter-number">1
                            <span></span>
                        </div>
                        <div class="enter-number">2
                            <span>abc</span>
                        </div>
                        <div class="enter-number">3
                            <span>def</span>
                        </div>
                        <div class="enter-number">4
                            <span>ghi</span>
                        </div>
                        <div class="enter-number">5
                            <span>jkl</span>
                        </div>
                        <div class="enter-number">6
                            <span>mno</span>
                        </div>
                        <div class="enter-number">7
                            <span>pqrs</span>
                        </div>
                        <div class="enter-number">8
                            <span>tuv</span>
                        </div>
                        <div class="enter-number">9
                            <span>wxyz</span>
                        </div>
                        <div></div>
                        <div class="enter-number">0</div>
                        <div></div>
                </div>
                <div class="enter-password-nav">
                    <div class="left">
                        <a href="#">Khẩn cấp</a>
                    </div>
                    <div class="right">
                        <a href="#">Huỷ</a>
                    </div>
                </div>
            </div>
            
            <!-- END: ENTER PASSWORD -->
        </div>
          
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>