<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Simulator</title>
    <link rel="stylesheet" href="./src/css/main-screen/style.css">
    <link rel="stylesheet" href="./src/css/style.css">
</head>
<body class="center">
    <div class="iphone-frame">
        <div class="norch">
            <div class="rounded">

            </div>
        </div>
        <div class="nav">
            <div class="left">
                <span>09:08</span>
            </div>
            <div class="right">
                <ion-icon name="cellular"></ion-icon>
                <ion-icon name="wifi"></ion-icon>
                <ion-icon name="battery-half"></ion-icon>
            </div>
        </div>
        <div class="container">
            <!-- BEGIN: MÀN HÌNH CHÍNH  -->


             <div class="application-menu">
                <div class="applications">
                    <div id="first-slider" class="first-slider">
                        <div class="apps-icon">
                            <div class="app">
                                    <img src="../src/img/camera.jpg" alt="Camera">
                                <label>Camera</label>
                            </div>

                            <div class="app">
                                    <img src="../src/img/appstore.jpg" alt="App Store">
                                <label>App Store</label>
                            </div>

                            <div class="app">
                            
                                    <img src="../src/img/danhba.jpg" alt="Phone Book">
                               
                                <label>Danh bạ</label>
                            </div>

                            <div class="app">
                               
                                    <img src="../src/img/mail.jpg" alt="Gmail">
                               
                                <label>Gmail</label>
                            </div>
                            <div class="app">
                              
                                    <img src="../src/img/itune.jpg" alt="Itunes">
                               
                                <label>iTunes</label>
                            </div>

                            <div class="app">
                                
                                    <img src="../src/img/nhatky.jpg" alt="Nhật ký">
                             
                                <label>Nhật ký</label>
                            </div>

                            <div class="app">
                               
                                    <img src="../src/img/photo.jpg" alt="Ảnh">
                              
                                <label>Ảnh</label>
                            </div>

                            <div class="app">
                                
                                    <img src="../src/img/safary.jpg" alt="Safary">
                             
                                <label>Safary</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="indicators">
                    <span class="active-screen span1">

                    </span>

                    <span class="active-screen span2">

                    </span>
                </div>
                <div class="bottom-nav">
                    <div class="button-app phone-log">
                        <img src="../src/img/phone.jpg" alt="Phone Log">
                    </div>
                    <div class="button-app messenger">
                        <img src="../src/img/messenger.jpg" alt="Messenger">
                    </div>
                    <div class="button-app youtube">
                        <img src="../src/img/youtube.jpg" alt="YouTube">
                    </div>
                    <div class="button-app messenger">
                        <img src="../src/img/message.jpg" alt="Message">
                    </div>
                </div>
            </div>


            <!-- END: MÀN HÌNH CHÍNH  -->
        </div>
          
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>