<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/search-box/style.css">
    <link rel="stylesheet" href="../src/css/style.css">
</head>
<body>
    <div class="iphone-frame">
        <div class="norch">
            <div class="rounded">

            </div>
        </div>
        <div class="nav">
            <div class="left">
                <span>09:08</span>
            </div>
            <div class="right">
                <ion-icon name="cellular"></ion-icon>
                <ion-icon name="wifi"></ion-icon>
                <ion-icon name="battery-half"></ion-icon>
            </div>
        </div>
        <div class="container">
            <div class="search-box">
                <div class="search-box-bar">
                    <input type="text" class="search-box-input" placeholder="&#61442; Tìm kiếm">
                </div>
                <div class="list-search-box">
                    <div class="timeline">
                        <img class="slide" src="../src/img/slide.jpg" alt="Quảng Bình">
                        <span>Một năm <br/> nhìn lại</span>
                        <p>2023</p>
                    </div>
        
                    <div class="search-box-item1">
                        <div class="time-event">
                            <h6>Thứ hai</h6><br/>
                            <span>8</span>
                            <p>Hôm nay không có sự kiện khác</p>
                        </div>
                        <div class="service-app">
                            <p class="service-sub">
                                Dịch vụ định vị đã tắt
                            </p>
                        </div>
                    </div>
        
                    <div class="search-box-item2">
                        <h3>Title</h3>
                        <div class="event">
                           <div class="sub-event">
                            <h5>Tên thông tin</h5>
                            <p>Các thông tin có liên quan về vấn đề được đề cập tới </p>
                           </div>
                           <img src="../src/img/event1.avif" alt="Event 1">
                        </div>
                        <div class="event">
                            <div class="sub-event">
                             <h5>CR7</h5>
                             <p>Quả bóng vàng thứ 5 </p>
                            </div>
                            <img src="../src/img/event1.avif" alt="Evetn 2">
                         </div>
                    </div>
                </div>
            </div>
        </div>
           <!-- BEGIN: SEARCH-BOX -->
    
<!-- END: SEARCH-BOX -->
    </div>
 
</body>
</html>