<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Simulator</title>
    <link rel="stylesheet" href="/mobile-simulator/src/css/slider-left/style.css">
    <link rel="stylesheet" href="/mobile-simulator/src/css/style.css">
</head>
<body class=" center">
    <div class="iphone-frame">
        <div class="norch">
            <div class="rounded">

            </div>
        </div>
        <div class="nav">
            <div class="left">
                <span>09:08</span>
            </div>
            <div class="right">
                <ion-icon name="cellular"></ion-icon>
                <ion-icon name="wifi"></ion-icon>
                <ion-icon name="battery-half"></ion-icon>
            </div>
        </div>
        <div class="container">
                    <!-- BEGIN: UI  TRƯỢT PHẢI MÀN HÌNH -->
             <div class="slide-left">
                <form>
                    <div class="search-library">
                        <ion-icon name="search"></ion-icon>
                        <input type="search" class="search-input" placeholder="Thư viện ứng dụng">
                    </div>
                </form>
                <div class="show-library-apps">
                    <div class="library-item">
                        <img src="../src/img/camera.jpg" alt="Camera">
                        <img src="../src/img/danhba.jpg" alt="Danh bạ">
                        <img src="../src/img/itune.jpg" alt="Itunes">
                        <div class="library-item-in">
                            <img src="../src/img/messenger.jpg" alt="Messenger" class="sm-app">
                            <img src="../src/img/mail.jpg" alt="Mail" class="sm-app">
                            <img src="../src/img/appstore.jpg" alt="App Store" class="sm-app">
                            <img src="../src/img/photo.jpg" alt="Photo" class="sm-app">
                        </div>
                        <span>Xã hội</span>
                    </div>
                    <div class="library-item">
                        <img src="../src/img/camera.jpg" alt="Camera">
                        <img src="../src/img/danhba.jpg" alt="Danh bạ">
                        <img src="../src/img/itune.jpg" alt="Itunes">
                        <div class="library-item-in">
                            <img src="../src/img/messenger.jpg" alt="Messenger" class="sm-app">
                            <img src="../src/img/mail.jpg" alt="Mail" class="sm-app">
                            <img src="../src/img/appstore.jpg" alt="App Store" class="sm-app">
                            <img src="../src/img/photo.jpg" alt="Photo" class="sm-app">
                        </div>
                        <span>Xã hội</span>

                    </div>
                    <div class="library-item">
                        <img src="../src/img/camera.jpg" alt="Camera">
                        <img src="../src/img/danhba.jpg" alt="Danh bạ">
                        <img src="../src/img/itune.jpg" alt="Itunes">
                        <div class="library-item-in">
                            <img src="../src/img/messenger.jpg" alt="Messenger" class="sm-app">
                            <img src="../src/img/mail.jpg" alt="Mail" class="sm-app">
                            <img src="../src/img/appstore.jpg" alt="App Store" class="sm-app">
                            <img src="../src/img/photo.jpg" alt="Photo" class="sm-app">
                        </div>
                        <span>Xã hội</span>

                    </div>
                    <div class="library-item">
                        <img src="../src/img/camera.jpg" alt="Camera">
                        <img src="../src/img/danhba.jpg" alt="Danh bạ">
                        <img src="../src/img/itune.jpg" alt="Itunes">
                        <div class="library-item-in">
                            <img src="../src/img/messenger.jpg" alt="Messenger" class="sm-app">
                            <img src="../src/img/mail.jpg" alt="Mail" class="sm-app">
                            <img src="../src/img/appstore.jpg" alt="App Store" class="sm-app">
                            <img src="../src/img/photo.jpg" alt="Photo" class="sm-app">
                        </div>
                        <span>Xã hội</span>

                    </div>
                    <div class="library-item">
                        <img src="../src/img/camera.jpg" alt="Camera">
                        <img src="../src/img/danhba.jpg" alt="Danh bạ">
                        <img src="../src/img/itune.jpg" alt="Itunes">
                        <div class="library-item-in">
                            <img src="../src/img/messenger.jpg" alt="Messenger" class="sm-app">
                            <img src="../src/img/mail.jpg" alt="Mail" class="sm-app">
                            <img src="../src/img/appstore.jpg" alt="App Store" class="sm-app">
                            <img src="../src/img/photo.jpg" alt="Photo" class="sm-app">
                        </div>
                        <span>Xã hội</span>

                    </div>
                    <div class="library-item">
                        <img src="../src/img/camera.jpg" alt="Camera">
                        <img src="../src/img/danhba.jpg" alt="Danh bạ">
                        <img src="../src/img/itune.jpg" alt="Itunes">
                        <div class="library-item-in">
                            <img src="../src/img/messenger.jpg" alt="Messenger" class="sm-app">
                            <img src="../src/img/mail.jpg" alt="Mail" class="sm-app">
                            <img src="../src/img/appstore.jpg" alt="App Store" class="sm-app">
                            <img src="../src/img/photo.jpg" alt="Photo" class="sm-app">
                        </div>
                        <span>Xã hội</span>

                    </div>  

                </div>
            </div> 
           <!-- END: UI TRƯỢT PHẢI MÀN HÌNH  -->
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>