<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Simulator</title>
    <link rel="stylesheet" href="/mobile-simulator/src/css/swipe-rightdown/style.css">
    <link rel="stylesheet" href="/mobile-simulator/src/css/style.css">
</head>
<body>
    <div class="iphone-frame">
        <div class="norch">
            <div class="rounded">

            </div>
        </div>
        <div class="container">
                    <!-- BEGIN: VUỐT XUỐNG BÊN PHẢI  -->
        <div class="swipe-rightdown">
            <div class="nav-swipe">
                <div class="left">
                    <span>Viettel</span>
                </div>
                <div class="right">
                    <ion-icon name="cellular"></ion-icon>
                    <ion-icon name="wifi"></ion-icon>
                    <ion-icon name="battery-half"></ion-icon>
                </div>
            </div> 
            <div class="rightdown-content">
                <div class="item1">
                    <div class="left-item">
                        <div class="top-item">
                            <button class="active"><ion-icon name="airplane"></ion-icon></button>
                            <button><ion-icon name="cellular"></ion-icon></button>
                        </div>
                        <div class="down-item">
                            <button class="active">
                                <ion-icon name="wifi"></ion-icon>
                            </button>
                            <button>
                                <ion-icon name="bluetooth"></ion-icon>
                            </button>
                        </div>
                    </div>
                    <div class="right-item">
                        <ion-icon name="add">

                        <div class="add"></div>

                        </ion-icon>
                        <span>Không phát</span>
                        <div class="item">
                            <ion-icon name="fastforward"></ion-icon>
                            <ion-icon name="play"></ion-icon>
                            <ion-icon name="fastforward"></ion-icon>
                        </div>
                    </div>
                </div>
                <div class="item2">
                    <div class="left-item1">
                        <div class="icon-btn">
                            <ion-icon name="cog"></ion-icon>
                        </div>
                        <div class="icon-btn">
                            <ion-icon name="laptop"></ion-icon>
                        </div>
                        <div class="icon-btn1">
                            <ion-icon name="moon"></ion-icon>
                            <span>Tập trung</span>
                        </div>
                    </div>
                    <div class="right-item1">
                        <button><ion-icon name="sunny"></ion-icon></button>
                        <button>
                            <ion-icon name="volume-low"></ion-icon>    
                        </button>
                    </div>
                </div>
                <div class="item3">
                    <div class="item3-icon">
                        <ion-icon name="flashlight"></ion-icon>
                    </div>
                    <div class="item3-icon">
                        <ion-icon name="time"></ion-icon>
                    </div>
                    <div class="item3-icon">
                        <ion-icon name="calculator"></ion-icon>
                    </div>
                    <div class="item3-icon"><ion-icon name="camera"></ion-icon></div>
                    <div class="item3-icon">
                        <ion-icon name="alarm"></ion-icon>
                    </div>
                    <div class="item3-icon">
                        <ion-icon name="battery-full"></ion-icon>
                    </div>
                    <div class="item3-icon">
                        <ion-icon name="radio-button-on"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: VUỐT XUỐNG BÊN PHẢI  -->
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>