form {
    text-align: center;
}
.slide-left {
    overflow-y:hidden;
    background-color: rgba(140,124,109, .5);
    border-radius: 30px;
    /* height: 650px; */
    height:max-content;
}
.slide-left .search-library {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 8px 48px;
    background-color: rgb(54,59,68);
    margin-top: 60px;
    margin-bottom: 24px;
}

.slide-left .search-library input {
    border: none;
    background-color: rgb(54,59,68);
    outline: none;
    width: 138px;
    font-size: 14px;
    text-align: center;
    color: #ccc;
}
.slide-left .search-library ion-icon {
    font-size: 18px;
    color: #ccc;
    line-height: 30px;
    margin-left: 14px;
}
.show-library-apps {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
    padding: 0 16px;
}

.library-item {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    margin-bottom: 16px;
    padding: 8px;
    background-color:  rgb(77,72,69);
    border-radius: 20px;
}
.library-item  .library-item-in {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px;
}
.library-item  .library-item-in img {
    width: 20px;
    height: 20px;
    border-radius: 6px;
}
.library-item  span {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    font-size: 400;
    color: #fff;
}