<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Simulator</title>
    <link rel="stylesheet" href="">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./src/css/style.css">
    <link rel="stylesheet" href="./src/css/photo/photo.css">
    <link rel="stylesheet" href="./src/css/photo/detail-photo.css">
    <link rel="stylesheet" href="./src/css/call/list-call.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,900&display=swap" rel="stylesheet">
</head>
<body class="center">
    <!-- KHUNG IP -->
    <div class="iphone-frame">
        <div class="norch">
            <div class="rounded">

            </div>
        </div>
        <div class="nav">
            <div class="left">
                <span>09:08</span>
            </div>
            <div class="right">
                <ion-icon name="cellular"></ion-icon>
                <ion-icon name="wifi"></ion-icon>
                <ion-icon name="battery-half"></ion-icon>
            </div>
        </div>

        <div class="container">
            <div class="photo">
                <div class="nav-photo">
                    <div class="left">
                        <span>19 th3, 2021</span>
                        <p>H. Đức Trọng - X.Hiệp An</p>
                    </div>
                    <div class="right">
                        <span class="select">Chọn</span>
                        <box-icon name='dots-horizontal-rounded'></box-icon>
                    </div>
                </div>
                <div class="body-photo">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">
                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">

                    <img src="./src/img/user.jpg" alt="Phan Thành">
                    <img src="./src/img/ui.webp" alt="Phan Thành">
                </div>
                <div class="photo-button">
                    <span class="item-button">Năm</span>
                    <span class="item-button">Tháng</span>
                    <span class="item-button">Ngày</span>
                    <span class="item-button active">Tất cả ảnh</span>
                </div>
                <div class="footer-list-call">
                    <div class="footer-item-call active">
                        <ion-icon name="images"></ion-icon>
                        <span>Thư viện</span>
                    </div>
                    <div class="footer-item-call">
                        <ion-icon name="heart"></ion-icon>
                        <span>Yêu thích</span>
                    </div>
                    <div class="footer-item-call ">
                        <ion-icon name="albums"></ion-icon>
                        <span>Album</span>
                    </div>
                    <div class="footer-item-call ">
                        <ion-icon name="search"></ion-icon>
                        <span>Tìm kiếm</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Thanh tác vụ  -->
        <div class="button"></div>
    </div>
    <script src="./src/index.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>